<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../bower_components/px-modal/px-modal.html">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>



<dom-module id="px-data-table-demo">
  <template>
    <style>
      :host {
        font-family: sans-serif;
      };
    </style>
  
    <h3>PX DATA TABLE</h3>
    <!-- https://www.predix-ui.com/px-data-table/px-data-table/ -->
    <px-data-table id="datatable" table-data="{{tableData}}" language="en" remote-data="true">
		<px-data-table-column name='first'></px-data-table-column>
		<px-data-table-column name='last'></px-data-table-column>
		<px-data-table-column name='email'></px-data-table-column>
	</px-data-table>

	<px-modal header-text="Info" reject-text="Cancel" id="modal" accept-text="Accept">
	</px-modal>
	
	<div id="bypassme"> 
		<button onclick="demoFromHTML()" >Save PDF</button>
		<button onclick="saveImage()">Save Image</button>
	</div>
	
	
	

  </template>
  
  <script>
	//var data = 
    Polymer({
      is: "px-data-table-demo",
	  properties: {
		tableData: {
			type: Array,
			value: function() {
			  return [{"first":"Valentine","last":"Meyer","email":"valentinemeyer@scentric.com"},{"first":"Silva","last":"Alexander","email":"silvaalexander@gmail.com"},{"first":"Hopkins","last":"Wong","email":"hopkinswong@hotmail.com"},{"first":"Joe","last":"Sherman","email":"joejoe@yahoo.com"},{"first":"Jane","last":"Bartlett","email":"jane@scentric.com"}];;
			},
			notify: true
		}
	  }
    });
	
	HTMLImports.whenReady(function () {
		document.getElementById("datatable").addEventListener("px-row-click",   function(e)    {
			var $this = e.detail.row;
			var first = $this.row.first.value;
			var last = $this.row.last.value;
			var email = $this.row.email.value;
			
			var modal = document.getElementById("modal");
			
		    var content = 'First Name: '+first+' Last Name: '+last+'Email: '+email;
			modal.opened = true;
			modal.bodyText = content;
			
		});
	});
	
	 
    function demoFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        source = $('#datatable')[0];

        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF 
                //          this allow the insertion of new lines after html
                pdf.save('Test.pdf');
            }, margins
        );
    }
	
	function saveImage(){
		var canvas = document.getElementById("datatable");
		var img    = canvas.toDataURL("image/png");
		document.write('<img src="'+img+'"/>');
	}
	
  </script>
</dom-module>